    @import url(https://fonts.googleapis.com/css?family=barlow:400,300,700);

    .movie-card {
    font: 14px/22px "barlow", Arial, sans-serif;
    color: #a9a8a3;
    padding: 40px 0;
    height: 980px;
    }

    .container {
    margin: 0 auto;
    width: 980px;
    height: 600px;
    background: #f0f0ed;
    border-radius: 5px;
    position: relative;
    }

    .hero {
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
    margin: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    }

    .hero:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
    }

    .cover {
    position: absolute;
    top: 100px;
    left: 40px;
    width: 200px;
    z-index: 2;
    }

    .details {
    padding: 190px 0 0 280px;
    }

    .details .title1 {
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
    position: relative;
    }

    .description {
    bottom: 0px;
    height: 200px;
    font-size: 16px;
    line-height: 26px;
    color: #b1b0ac;
    }

    .column1 {
    padding-left: 50px;
    padding-top: 80px;
    width: 220px;
    float: left;
    text-align: center;
    color: #000;
    }

    .tag {
    background: white;
    border-radius: 10px;
    padding: 3px 8px;
    font-size: 14px;
    margin-right: 4px;
    line-height: 35px;
    cursor: pointer;
    }

    .tag:hover {
    background: #ddd;
    }

    .column2 {
    padding-left: 40px;
    padding-top: -4px;
    margin-left: 20px;
    max-width: 800px;
    width: 100%;
    float: left;
    }

    fieldset,
    label {
    margin: 0;
    padding: 0;
    }

    .return button {
    color: #000000;
    cursor: pointer;
    padding: 5px 30px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1.5px;
    outline: none;
    position: relative;
    font-size: 14px;
    border: 2px solid #cfcece;
    background-color: #ffffff;
    border-radius: 15px 15px 15px 15px;
    transition: all 0.3s;
    margin-top: 100px;
    }
    .return button:hover {
    color: #cfcece;
    background: #000;
    }
    .play_trailer {
    position: absolute;
    top: 220px;
    left: 100px;
    background: transparent;
    border: none;
    z-index: 11;
    }
    .play_trailer:hover {
    color: #a9a8a3;
    }
